{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">
{% endblock %}
{% block body %}
<div class="content">
    <h1>Bienvenue sur StudySmart 👋</h1>
    <div class="content-auth">
        <a class="button" href="{{ path('app_login') }}">Se connecter</a>
        <p>OU</p>
        <a class="button" href="{{ path('app_register_step1') }}">S'inscrire</a>
    </div>
   
</div>

{% endblock %}
