# BEGIN Symfony

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si l'URL commence par "index.php", on réécrit l'URL pour rediriger vers l'application
    RewriteCond %{REQUEST_URI} !^/index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
    
    # Désactive l'accès aux fichiers sensibles
    RewriteRule ^\.(ht|git|env|docker).* - [F,L]

    # Protéger certains répertoires comme /var et /vendor
    RewriteRule ^(var|vendor)/ - [F,L]
    
    # Forcer le https (si nécessaire)
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# END Symfony
