#calendar {
    max-width: 1200px; /* Ajuste la largeur */
    margin: 0 auto; /* Centre le calendrier */
    font-size: 0.9rem; /* Réduit la taille du texte */
}
#calendar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
#calendar-controls input {
    padding: 5px;
    width: 250px;
}
