body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, rgba(214,129,202,1) 0%, rgba(132,154,253,1) 100%);
    background-size: 200% 200%;
    animation: animate-background 8s infinite alternate;
  }
  
  @keyframes animate-background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    width: 80%;
    height: 60%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  
  .content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .content h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
  }
  
  .content p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .progress {
    height: 100%;
    width: 0%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    transition: width 5s linear;
  }
  