{# templates/loading.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}StudySmart{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/loading.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>StudySmart 🎓</h1>
        <p>Fini le stress de l'organisation et<br>la solitude du distanciel</p>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
{% endblock %}
