{% extends 'base.html.twig' %}

{% block body %}
    <div class="markdown-content" style="padding:10rem;">
        <h1>Document Reformulé</h1>
        {{ reformulatedContent|raw }}
    </div>
{% endblock %}
